*{
    margin: 0%;
    padding: 0%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-items: left;
    align-items: center;
    gap: 20px;
    
    background-color: #ba2d2d;
    color: white;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header ul{
    display: flex;
    justify-content:center;
    gap: 50px;
    list-style: none;

}


